/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@font-face {
  font-family: "Poppins-Bold";
  font-weight: 400;
  src: url("../public/fonts/Poppins-SemiBold.ttf") format("truetype");

  font-weight: 600;

  font-style: normal;
}


@font-face {
  font-family: "interV";
  font-weight: 300;
  src: url("../public/fonts/Inter-Light.ttf") format("truetype");

  font-style: normal;
}


:root {
  --qwik-dark-blue: #1a78e6;
  --qwik-light-blue: #1a78e6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple:linear-gradient(rgb(232, 238, 246) 50%, rgb(227, 227, 229) 100%);
  --qwik-dirty-black: #1d2033;
  --qwik-dark-background: #151934;
  --qwik-dark-text: #000000;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background-color: var(--qwik-dark-purple);
}


